@font-face {
    font-family: 'Alata';
    src: url('../fonts/Alata-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Josefin sans';
    src: url('../fonts/JosefinSans-Light.ttf');
    font-weight: 300;
}

@supports(font-variation-settings: normal){
    @font-face {
        font-family: 'Josefin sans';
        src: url('../fonts/JosefinSans-VariableFont_wght.ttf') format('truetype supports variations'),
            url('../fonts/JosefinSans-VariableFont_wght.ttf') format('truetype-variations');
        font-weight: 100 300;

    }
}

:root{
    --dark-gray: hsl(0, 0%, 55%);
    --very-dark-gray: hsl(0, 0%, 41%);

    --font-alata: 'Alata', sans-serif;
    --font-josefin: 'Josefin sans', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.5rem;
}

header{
    position: absolute;
    top: 4rem;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;

    width: 85%;
    max-width: 111rem;
    margin-left: auto;
    margin-right: auto;
}
.header__logo{
    width: 15rem;
    height: 3rem;

    background-image: url('../images/logo.svg');
    background-repeat: no-repeat;
    background-size: 15rem;
    background-position: center;
}
.header__navbar{
    display: none;
}
.header__list{}
.header__item{}
.header__button{
    width: 3rem;
    height: 3rem;

    background-image: url('../images/icon-hamburger.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
}
main{
    display: flex;
    flex-direction: column;
}
.main__frontpage{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 80vh;

    background-image: url('../images/mobile/image-hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
}
.frontpage__container{
    width: 80%;
    
    border: solid 0.2rem white;
}
.frontpage__title{
    padding-inline-end: 2rem;

    font-size: 4rem;
    font-family: var(--font-josefin);
    font-weight: 300;

    color: white;
}
.main__secondpage{}
.secondpage__container{}
.secondpage__image_container{}
.secondpage__content_container{}
.content__title{}
.content__text{}
.main__thirdpage{}
.thirdpage__container{}
.thirdpage__header{}
.thirdpage__title{}
.thirdpage__upper_button{}
.thirdpage__content_container{}
.thirdpage__deep_earth{}
.thirdpage__night_arcade{}
.thirdpage__soccer_Team{}
.thirdpage__the_grid{}
.thirdpage__from_up{}
.thirdpage__pocket_borealis{}
.thirdpage__the_curiosity{}
.thirdpage__fisheye{}
.thirdpage__lower_button{}
footer{
    display: none;
}
.footer__container{}
.footer__navbar{}
.footer__list{}
.footer__item{}
.footer__social_rights{}
.footer__social_container{}
.footer__facebook{}
.footer__twitter{}
.footer__pinterest{}
.footer__instagram{}
.footer__rights{}